body {
    font-family: 'Montserrat', sans-serif;
  }
  
  label {
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    }
   
   input {
    padding-left: 16px;
    width: 360px;
   }
  textarea {
    padding-top: 8px;
    padding-left: 16px;
    width: 360px;
  }

  .feedback-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 600px;
    padding: 40px;
    margin: 0 auto;
    box-shadow: 0 10px 10px 0 #cccccc;
  }
  
  .feedback-form-input {
    height: 40px;
    padding-left: 15px;
    border: 1px solid #303030;
  }
  
  .feedback-form-message {
    height: 120px;
    padding: 15px;
    border: 1px solid #303030;
    resize: none;
  }
  
   
  .btn-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
  }
  .btn-form:hover,
  .btn-form:focus {
    background-color: #6c8cff;
  }